.htmlTable table,
th,
td {
  border: 1px solid black;
}

/* .html-table-borderless th, td {
  border: none;
} */

.fw{
  font-weight: 600;
  font-size: 15px;
}

.bw{
  font-weight: 600;
  font-size: 15px;
  border-bottom: "1px solid #000";
  border-left: 0;
  border-top: 0;
  border-right: 0;
}

.border-table{
  border-spacing: 30px;
  border-collapse: separate;
}

.custom-font{
  font-size: 17px;
  font-weight: 600;
  color: #000 !important;
}